<?xml version="1.0" encoding="UTF-8"?>


<web-app>
<servlet>
<servlet-name>Success</servlet-name>
<servlet-class>Success</servlet-class>
</servlet>

<servlet-mapping>

<servlet-name>Success</servlet-name>

<url-pattern>/servlet/Success</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>Index.jsp</welcome-file>

</welcome-file-list>







</web-app>