<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->

    <bean id="b"
        class="org.com.consts.Question">  
        <constructor-arg value="111"></constructor-arg>
        <constructor-arg value="What is Java"> </constructor-arg>
        <constructor-arg>
        <list>
        <value>java is programming language</value>
        <value>java is platform</value>
        <value>java is isLand of Indonasia</value>
        </list>
        </constructor-arg>
        
        
            
    </bean>
    
    
</beans>



