<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->

    <bean id="QuestionBean"
        class="com.springdemo.org.Question">    
        <property name="id"  value="1">
        </property>    
        <property name="name" value="what is java?"></property>
        <property name="answers">
        <list>
        <value>java is programming language</value>
        <value>java is platform</value>
        <value>java is an island</value>
        </list>
        </property>
    </bean>

    
</beans>





